<!DOCTYPE html> 
<html>
	<head><title>Add</title></head> 
	
	<body>
		<h1>请输入</h1>
			<form method="post" action="/Add">
				<p>集团名称<br><input type="text" name="group"></p> 
				<p>公司名称<br><input type="text" name="company"></p> 
				<p>项目名称<br><input type="text" name="project"></p> 
				<p>总投资<br><input type="text" name="amount"></p>
				<p>年度<br><input type="text" name="year"></p>
				<p>年度总投资<br><input type="text" name="yearlyamount"></p>
				<h2>{{result}}</h2>
				<input type="submit">
			</form>
			
	</body> 
</html>