{% extends "main.html" %}

{% block header %}
	<h1>{{ header_text }}</h1>
{% end %}

{% block body %}
	
	<div id="hello">
		<h1 id="login_logo"><a href="/"></a></h1>

		<img class="login_bar" src="{{ static_url("img/login_bar.png") }}" alt="Horizontal Rule" />
		<p class="error" style="text-align: center">Sorry, we don't recognize that email or password. Please try again!</p>
		<form id = "login_form" action="/app" method="POST">
			<input type = "text" name = "loginid" placeholder="Login ID">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" class="btn">Login</button>
		</form>
	</div>
{% end %}