<!DOCTYPE html>
<html>	 
<head>
	<title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" />
</head>
<body>
	<div id="container">
		<header>
			{% block header %}<h1></h1>{% end %}
		</header>
		<div id="main">
			<div id="content">
				{% block body %}{% end %}
			</div>
		</div>
		<footer>
			{% block footer %}
				<p>Any issues please contact <a href="mailto:">thomas</a>.</p> 
				<p class="small">Copyright belongs to 2013</p>
			{% end %}
		</footer>
	</div>
	<script src="{{ static_url("js/bootstrap.js") }}"></script>
	</body>
</html>